:root {
    --color-primario: #161616;
    --color-secundario: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins, serif;
}

:focus-visible {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}


body {
    cursor: url('assets/cursor.svg'), auto;
}



/*BOTONES*/

button {
    cursor: url('assets/cursor.svg'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    margin: 0;
    background: none;
    box-shadow: none;
    border: none;
    overflow: hidden;
}

    /*Boton 90°*/
    .btn-90 {
        color: var(--color-primario);
        background-color: rgb(247, 247, 247);
        width: 2.5rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        gap: 10px;
        transition: all 0.5s 0s;
        padding-bottom: 9px;
    }

        .btn-90>svg {
            transform: rotate(90deg);
        }
        
        .btn-90::before  {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-primario);
            transform: translateY(100%);
            transition: all 0.3s;
            z-index: -150;
        }

        .btn-90:hover::before {
            transform: translateX(0);
            width: 100%;
            height: 100%;
            color: white;

        }

        .btn-90:hover {
            color: var(--color-secundario);
        }
    

    /*Boton de cerrar*/
    .btn-close {
        background-color: white;
        transition: all 0.5s 0s;
    }

        .btn-close>svg {
            color: var(--color-primario);
        }

    /*Boton Menu*/
    .btn-menu {
        color: white;
        padding: 0 0 0 0;
        overflow: hidden;
        width: auto;
        font-size: 5rem;
        line-height: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.5s;
        z-index: 0;
    }

    .btn-menu::before {
        content: "";
        margin-right: 1rem; 
        background-color: white;
        width: 2px;
        height: 5rem;
        z-index: -1;
        transform: translateY(-100%);
        transition: all 0.3s 
        
    }

    .btn-menu:hover::before {
        transform: translateY(0%);
        width: 2px;
        height: 5rem;
    }


    .btn-menu:hover {
        color: var(--color-primario);
        -webkit-text-stroke: 1px white;
        transition: all 0.3s;
    }

    /*Boton redes sociales*/
    .btn-social {
        color: var(--color-primario);
        font-size: 1.2rem;
        background-color: white;
        height: 3rem;
        width: 3rem;
        gap: 10px;
        transition: all 0.5s 0s;
    }

        .btn-social>svg {
            width: 1.2rem;
            height: auto;
            fill: currentColor;
        }
    


/*CABECERA*/
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

    /*Animaciones*/
    @keyframes scale-up-hor-left{0%{transform:scaleX(.4);transform-origin:0 0}100%{transform:scaleX(1);transform-origin:0 0}}

    @keyframes fade-in{0%{opacity:0}100%{opacity:1}}

    /*Cabecera derecha*/
    header .header-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 5rem;
        background-color: white;
    }

    /*Cabecera izquierda*/
    header .header-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        width: 5rem;
        background-color: white;
    }

    header .header-left>svg {
        height: 10rem;
        fill: var(--color-primario);
    }

    /*Menu*/
    [popover]:popover-open {
        display: flex;
        animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;
    }

   #menu {
        overflow: hidden;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        border: 0;
        background-color: var(--color-primario);  
    }

    #menu>form {
        padding-left: 5vw;
    }

    #menu>section {
        display: flex;
        height: 25vw;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding-right: 5vw;
    }

    #menu>form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        z-index: 0;
        overflow: hidden;
    }

    #menu *{
        animation:fade-in .4s cubic-bezier(.39,.575,.565,1.000) 0.4s both;
    }

    #social {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 1rem;
    }


/*Contenido*/
.contenedor {
    scroll-snap-type: x mandatory;
    scroll-padding: auto;
}

    .slide {
        scroll-snap-align: center;
        scroll-snap-stop: normal;
        scroll-margin: 0;
        width: calc(100% - (5rem*2));
        margin: auto;
    }

        .uno {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--color-secundario);
        font-size: 40px;
        background-clip: ;
        background: url("assets/stark_slide1.jpg") no-repeat fixed;
        }